@import 'tailwindcss';

@theme {
  --color-sand: #d7d1c6;
  --color-dark: #121212;
}

@layer base {
  body {
    @apply bg-dark text-sand antialiased;
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden;
  }
}
