@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Roboto|Roboto+Condensed|Product+Sans|BenchNine|Engagement');
body {
  min-height: 100vh;
  background-color: #ddd;
}
body::-webkit-scrollbar {
  width: 0;
}

nav {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
    0 4px 8px rgba(0, 0, 0, 0.28);
}
nav a, nav .brand-logo, nav ul a {
  color: rgb(0, 0, 0);
}
nav a {
  font-family: 'Product Sans';
}

nav .tab a {
  color: rgb(244, 67, 54) !important;
}
nav .indicator {
  background-color: rgb(244, 67, 54) !important;
}

@media only screen and (min-width: 601px) {
  nav .button-collapse {
    border-radius: 50%;
    padding: 0 20px;
  }
}
.tap-target-origin {
  color: rgb(0, 0, 0);
}

#nav-mobile {
  transition: box-shadow 0.2s ease-in-out;
}
#nav-mobile[style],
#nav-mobile[style^="transform: translateX(-1"],
#nav-mobile[style^="transform: translateX(-2"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0.3);
}
#nav-mobile[style^="transform: translateX(-3"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.44),
    0 1px 5px 0 rgba(0, 0, 0, 0.42),
    0 3px 1px -2px rgba(0, 0, 0, 0.5),
    0 0 0 105vw rgba(0, 0, 0, 0);
}
#nav-mobile[style^="transform: translateX(-100%)"] {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0),
    0 3px 1px -2px rgba(0, 0, 0, 0),
    0 0 0 105vw rgba(0, 0, 0, 0);
}
.background img {
  width: 100%;
}
#sidenav-overlay {
  display: none;
}
.drag-target {
  width: 20px;
}

/* FAB */
.btn-floating {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),
    0 4px 8px rgba(0, 0, 0, 0.28);
}
.btn-floating:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16),
    0 6px 12px rgba(0, 0, 0, 0.32);
}
.btn-floating img {
  margin-top: 10%;
  padding: 10%;
  width: 80%;
}
.btn-floating.allo {
  background-color: #f4b709;
}
.btn-floating.wap {
  background-color: #25D366;
}
.btn-floating.sms {
  background-color: #305bc8;
}
.btn-floating.mail {
  background-color: #dc483c;
}

/* the actual pages */
main .container {
  margin-top: 68px;
}

#map {
  border: 0;
  height: 300px;
  width: 100%;
}

article.container .card {
  padding: 1rem 2rem;
}
.container .card h1 {
  font-size: 3rem;
}

.card-image .card-title {
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -webkit-text-stroke: 1px black;
  /* Simulated effect for Firefox and Opera and nice enhancement for WebKit */
  text-shadow: -1px -1px 0 rgb(0, 0, 0),
  0 -1px 0 rgb(0, 0, 0),
  1px -1px 0 rgb(0, 0, 0),
  1px 0 0 rgb(0, 0, 0),
  1px 1px 0 rgb(0, 0, 0),
  0 1px 0 rgb(0, 0, 0),
  -1px 1px 0 rgb(0, 0, 0),
  -1px 0 0 rgb(0, 0, 0),
  0 2px 4px rgba(0, 0, 0, 0.8);
}

.collection-item .title {
  color: rgb(33, 33, 33);
}
.collection-item p {
  color: rgb(74, 74, 74) !important;
}
/*
  ==============================================================================
  Timeline
  ==============================================================================
*/
.timeline {
  position: relative;
}
.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}
.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}
.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}
.timeline .timeline-event:first-child::before {
  display: none;
}
.timeline .timeline-event:last-child::after {
  display: none;
}
.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}
.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}
.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #d2d2d2;
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}
.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}
@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}